*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkgreen15: #1A3129;
    --darkgreen20: #234338;
    --darkgreen25: #2C5446;
    --darkgreen40: #468671;
    --green70: #CBEA7B;
    --green85: #E5F5BD;
    --green95: #F6FBE9;
    --green97: #FAFDF2;
    --gray15: #262626;
    --gray20: #333333;
}

body {
    font-family: Urbanist, 'sans serif';
    background-color: var(--green97);
}

.headerBanner {
    background-color: var(--darkgreen15);
    border-bottom: 1px solid var(--darkgreen20);
    position: relative;
    height: 94px;
    padding: 40px 16px 14px 16px;
    overflow: hidden;
}

.cta_Join {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.backImg {
    position: absolute;
    bottom: -28%;
    left: -21%;
    height: 74px;
    width: 143px;
}

.backImg2 {
    position: absolute;
    bottom: -50px;
    right: -70px;
    height: 74px;
    width: 143px;
    transform: scaleX(-1);
}

.cta_Join a {
    text-decoration: none;
    color: #FFF;
    border: 1px solid var(--darkgreen25);
    background-color: var(--darkgreen20);
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta_Join a::before {
    content: url('../images/cricket.ball.fill.png');
    padding-top: 1%;
}

.cta_Join a::after {
    content: url('../images/arrowRight.png');
}

nav {
    background-color: var(--darkgreen15);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImg {
    display: flex;
    align-items: flex-start;
    padding: 20px 0 20px 16px;
}

/* will hide the checkbox */
.menu-toggle {
    display: none;
}

/* hambuger icon */
.menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 20px 16px 10px 0;
}

/* menu hidden by default */
.main_nav {
    position: absolute;
    /* below nav */
    top: 100%;
    left: 0;
    right: 0;
    /* so that overflow content does not show up */
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease;
}

.main_nav li {
    border-bottom: 1px solid var(--darkgreen25);
}

.main_nav li a {
    display: block;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    background-color: var(--darkgreen15);
    color: #FDF2FA;
}

/* show menu when checkbox is checked */
.menu-toggle:checked+.menu-icon+.main_nav {
    max-height: 500px;
}

nav ul {
    list-style: none;
    padding: 0;
}

.main_nav li a:hover {
    color: var(--green70);
}

.x-icon {
    display: none;
}

/* when checked, hide hamburger and show X */
.menu-toggle:checked+.menu-icon .hamburger {
    display: none;
}

.menu-toggle:checked+.menu-icon .x-icon {
    display: block;
}

/* Hero Section starts here */
.wrapper {
    overflow-x: hidden;
    width: 100%;
}

.nutriImg {
    max-width: 100%;
}

.review-images {
    position: relative;
    display: inline-flex;
    border: 1px solid var(--green70);
    border-radius: 50px;
    padding: 6px 8px;
    background-color: var(--green97);
}

.review-images img {
    width: 40px;
    height: auto;
    position: relative;
    z-index: 1;
}

.review-images img:not(:first-child) {
    margin-left: -20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    position: relative;
    padding-bottom: 50px;
}
.review-images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.reviews p {
    font-size: .85rem;
    font-weight: 500;
    margin-top: 4px;
    color: var(--darkgreen20);
}
.numberStyle {
    color: var(--darkgreen40);
    font-weight: 600;
    padding-right: 2px;
}
.primaryTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.underlinedText {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 25px;
    text-decoration: underline;
    text-decoration-color: var(--green70);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 8px;
    color: var(--darkgreen15);
}
.emoji::before {
    content: '❤️ ';
}
.largeText {
    font-size: 2.4rem;
    margin: 16px 16px;
    font-weight: 600;
    text-align: center;
    color: var(--darkgreen15);
}
.regularP {
    text-align: center;
    margin: 0 16px;
    line-height: 1.5;
    font-size: .875rem;
    color: var(--gray20);
}
.buttonCTA {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.starterCTA {
    text-decoration: none;
    font-weight: 600;
    color: var(--gray15);
    background-color: var(--green70);
    padding: 14px 16px;
    border-radius: 6px;
    margin-right: 14px;
}
.demoCTA {
    text-decoration: none;
    font-weight: 600;
    color: var(--gray15);
    background-color: var(--green95);
    border: 1px solid var(--green85);
    padding: 14px 20px;
    border-radius: 6px;
}
/* Features Section starts here */
h2 {
    text-align: center;
    margin-top: 50px;
    line-height: 1.5;
    color: var(--gray15);
    font-size: 2.1rem;
    font-weight: 600;
}
.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 16px 0 16px;
}
.cards-item {
    background-color: var(--green95);
    border: 1px solid var(--green85);
    padding: 30px;
    border-radius: 10px;
}
.cards-item h3 {
    color: var(--gray15);
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 16px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.cards-item p {
    color: var(--gray20);
    line-height: 1.5;
    font-size: .9rem;
}
.cards-item:nth-child(1) h3::before {
    content: url('../images/flower-icon.png');
    margin-right: 10px;
}
.cards-item:nth-child(2) h3::before {
    content: url('../images/hat-icon.png');
    margin-right: 10px;
}
.cards-item:nth-child(3) h3::before {
    content: url('../images/cutterly-icon.png');
    margin-right: 10px;
}
.cards-item:nth-child(4) h3::before {
    content: url('../images/menu-icon.png');
    margin-right: 10px;
}
.cards-item:nth-child(5) h3::before {
    content: url('../images/dumbell-icon.png');
    margin-right: 10px;
}
.cards-item:nth-child(6) h3::before {
    content: url('../images/bag-icon.png');
    margin-right: 10px;
}